body{
background:black;
color:#00ff00;
font-family:Consolas;
text-align:center;
margin-top:80px;
}

button{
padding:15px;
font-size:20px;
background:#00ff00;
border:none;
cursor:pointer;
}